@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #404040;
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

#flowers > * {
  fill: #309900;
}

#gradient-flowers {
  --color-stop-1: #309900;
  --color-stop-2: #005600;
}

#gradient-flowers2 {
  --color-stop-1: rgba(0, 100, 0, 1);
  --color-stop-2: #005600;
}

#Path_142,
#Path_143 {
  animation: falling 10s 0s infinite;
  transform: skew(20deg);
  fill: url(#gradient-flowers) #005600;
}

#Path_143 {
  animation: falling 10s 2s infinite;
  fill: url(#gradient-flowers2) #005600;
}

@keyframes falling {
  0% {
    transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

/* ---------------------------------- */
.container {
  left: 50%;
  height: 0;
  width: 50%;
  padding-top: 37.16%;
  position: relative;
}

.Header {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100vh;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.clip_path {
  position: absolute;
  /* width: inherit;
  height: 100vh; */
  border-radius: 10px;
  opacity: 0.2;

  width: inherit;
  height: 100vh;
  /* z-index: 9; */
  clip-path: circle(50% at 100% 20%);
  transition: all 0.5s ease-in-out;
  background: lawngreen;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 43%, 0 0); */
}

.clip_path:hover {
  clip-path: circle(75%);
  background: #e2bed2;
}

.left {
  width: 50%;
  height: 0;
}

.left ul {
  pointer-events: all;
  list-style: none;
  display: flex;
  padding-top: 5%;
  margin-left: 8rem;
}

.left ul a {
  font-size: 1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: rgb(67, 61, 81);
  font-weight: 300;
  transition: all 0.3s;
}

.left ul li {
  padding-right: 2rem;
}

.left ul a:hover {
  color: rgb(255, 101, 132);
}

.header_container {
  pointer-events: none;
  position: relative;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.title_container {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.title_container b {
  color: rgb(24, 20, 21);
  font-size: 1.5rem;
}

.left button {
  pointer-events: all;
  display: inline;
  border-radius: 0.4rem;
  background-color: rgb(255, 101, 132);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 0.3rem;
  width: 18rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2rem 0;
}

.left button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.left button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.left button:hover span {
  padding-right: 2.5rem;
}

.left button:hover span:after {
  opacity: 1;
  right: 0;
}

.left .ownmeme {
  font-size: 4rem;
  font-weight: lighter;
  color: rgb(255, 101, 132);
}

.title_container p {
  width: 80%;
  color: rgb(67, 61, 81);
  font-size: 1rem;
  line-height: 1.5rem;
}

/* --------------------------- header finished */

.home_wrapper {
  height: 1500px;
  top: 2rem;
  font-size: 1rem;
  position: relative;
}

.cards {
  /* height: 12rem; */
  display: flex;
  justify-content: space-around;
  /* margin-top: 5rem; */
  width: 100%;
  position: absolute;
  left: -180px;
  top: 0px;
  /* top: 20%; */
}

.steps_container {
  left: 0%;
  height: 0;
  width: 100%;
  padding-top: 37.16%;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

#steps {
  margin: 0 auto;
  width: 100%;
}
.circle {
  text-align: center;
  background: #ff6584;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  font-size: 25px;
}
