* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
/* add the eye blink and leaves animation */

#Ellipse_4 {
  animation: blink 1s infinite !important;
  transform-origin: 50%;
  transform-box: fill-box;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05) translate(554.4 347.61);
  }

  5%,
  95% {
    transform: scale(1, 1) translate(554.4 347.61);
  }
}

#flowers > * {
  fill: #309900;
}

#gradient-flowers {
  --color-stop-1: #309900;
  --color-stop-2: #005600;
}

#gradient-flowers2 {
  --color-stop-1: rgba(0, 100, 0, 1);
  --color-stop-2: #005600;
}

#Path_142,
#Path_143 {
  animation: falling 10s 0s infinite;
  transform: skew(20deg);
  fill: url(#gradient-flowers) #005600;
}

#Path_143 {
  animation: falling 10s 2s infinite;
  fill: url(#gradient-flowers2) #005600;
}

@keyframes falling {
  0% {
    transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

.container {
  left: 50%;
  height: 0;
  width: 50%;
  padding-top: 37.16%;
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.clip_path {
  height: 100vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 43%, 0 0);
  background: rgb(182, 234, 216);
}

.left {
  width: 50%;
  height: 0;
}
.left ul {
  list-style: none;
  display: flex;
  padding-top: 5%;
  margin-left: 80px;
}
.left ul a {
  /* padding-right: 6%; */
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(67, 61, 81);
  font-weight: 300;
  transition: all 0.3s;
}
.left ul li {
  padding-right: 5%;
}

.left ul a:hover {
  color: rgb(255, 101, 132);
}

.header_container {
  display: flex;
  flex-direction: column;
}

.title_container {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
.title_container > * {
  /* padding-top: 10%; */
}
.title_container span {
  /* color: rgb(255, 101, 132); */
}
.title_container b {
  color: rgb(24, 20, 21);
  font-size: 1.5rem;
}
.left button {
  margin: 10% 0;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(255, 101, 132);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px 0;
}
.left button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.left button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.left button:hover span {
  padding-right: 25px;
}
.left button:hover span:after {
  opacity: 1;
  right: 0;
}
.left .ownmeme {
  font-size: 4.5rem;
  color: rgb(255, 101, 132);
}
.title_container p {
  width: 80%;
}
